{% extends "_base.html" %}

{% block content %}

<div class="flex flex-col space-y-10 mb-10">

    <h1 class="font-medium text-5xl mt-0 mb-2 text-white text-center"> {{ table_name }} META TABLES </h1>
    
    {% if data %}
    {% for table in data %}
    <div id="table{{ forloop.counter }}" class="overflow-x-auto relative shadow-md sm:rounded-lg max-h-[36rem] overflow-y-hidden hover:overflow-y-auto">
        
    </div>
    {% endfor %}
    
    {{ data|json_script:"mydata" }}
    {{ table_names|json_script:"table_name" }}
    <script>
        
        const mydata = JSON.parse(document.getElementById('mydata').textContent);
        const mytablesNames = JSON.parse(document.getElementById('table_name').textContent);

        for (var i=0; i<mydata.length; i++){
            document.getElementById(`table${i+1}`).innerHTML = mydata[i]
            document.getElementsByClassName('heads')[i].innerHTML = mytablesNames[i]
        }

    </script>
    {% endif %}

</div>


{% endblock content %}